shapes*
.ipynb_checkpoints/
data
output
object
*.pyc
*.ipynb
shapenetcore_partanno_segmentation_benchmark_v0/
*.so
.idea*
cls/
seg/
*.egg-info/

*~
#.swp
*.swp
\#*\#
.\#*
# Ignore tags created by etags, ctags, gtags (GNU global) and cscope
TAGS
.TAGS
!TAGS/
tags
.tags
!tags/
gtags.files
GTAGS
GRTAGS
GPATH
GSYMS
cscope.files
cscope.out
cscope.in.out
cscope.po.out
build
dist
